@use '../../base/' as *;
@use '../../abstracts/' as *;

.education-interests-section {
    position: relative;
    grid-column: 1 / -1;
    margin-left: $ml;
    padding-bottom: .85em;
    max-width: 90%;
    
    & .education-section {
        padding-bottom: 1rem;
        @include border-bottom-subsection;
    }

    & .section-title {
        margin: .65rem 0 .25rem 0;
    }
}

.education-section-item .section-subtitle {
    font-size: .6em;
}

.education-institution, .education-results {
    padding-bottom: .6em;
}

.education-dates {
    font-style: italic;
}

// Media queries

// For larger screens
@media screen and (min-width: 500px) {
    .education-interests-section {
        grid-column: 1 / 5;
    }
}

// For smaller screens 

@media screen and (max-width: 500px) {
    .education-interests-section {
        grid-row: 5;
    }
}