// Root sstylings are here

// Colour palettte

$background-primary: white;
$primary-accent: rgba(144, 159, 207, 1);
$header-primary: black;
$body-primary: rgba(17, 17, 17, 1);
$background-primary-dark: black;
$primary-accent-dark: rgb(235, 168, 52);
$header-primary-dark: white;
$body-primary-dark: white;

// Typography
$header-default: "Montserrat";
$header-name-2nd: "Montserrat-lighter";
$header-title-1st: "Montserrat-lighter";
$section-title: "Montserrat-lighter";
$section-subtitle: "Montserrat";
$section-subtitle-summary: "Montserrat-light";
$repo-links: "Montserrat-light";
$body-text: "Open-sans-light";

// Font-sizes
$font-size-subtitle: .7em;
$font-size-sub-alt: .6em;
$experience-item-title: .5em;
$github-project-link: .4em;


// Spacings
$section-title-spacing: .2em;
$section-title-lh: 1.5em;
$body-lh: 1.5em;
$longer-lh: 2em;

// Margins
$ml: 1.378rem;
$mr: 1.378rem;
