// Root sstylings are here

// Colour palettte

$background-primary: white;
$primary-accent: rgba(144, 159, 207, 1);
$header-primary: black;
$body-primary: rgba(17, 17, 17, 1);

// Typography
$header-name-1st: "Montserrat";
$header-name-2nd: "Montserrat-light";
$header-title-1st: "Montserrat-light";
$section-title: "Montserrat-light";
$section-subtitle: "Montserrat";
$section-subtitle-summary: "Montserrat-light";
$repo-links: "Montserrat-light";
$body-text: "Open-sans-light";



