// Root sstylings are here

// Colour palettte

$background-primary: white;
$primary-accent: rgba(144, 159, 207, 1);
$header-primary: black;
$body-primary: rgba(17, 17, 17, 1);

// Typography
$header-default: "Montserrat";
$header-name-2nd: "Montserrat-lighter";
$header-title-1st: "Montserrat-lighter";
$section-title: "Montserrat-lighter";
$section-subtitle: "Montserrat";
$section-subtitle-summary: "Montserrat-light";
$repo-links: "Montserrat-light";
$body-text: "Open-sans-light";

// Font-sizes
$font-size-subtitle: .7em;


// Spacings
$section-title-spacing: .2em;
$section-title-lh: 1.5em;


// Margins
$ml: 1.378rem;

