@use './base' as *;

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    line-height: 1em;
}

body,html {
    background-color: rgb(46, 43, 43);
    // width:  595pt;
    // height: 297mm;
}

hr {
    border: none;
    height: .1px !important;
    background-color: var(--borders);
}