@use './base' as *;

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    line-height: 1em;
}

body {
    background-color: rgb(46, 43, 43);
}

hr {
    border: none;
    height: .1px !important;
    background-color: var(--body-primary);
}