@use './base' as *;

:root {
    // Colour scheme
    --background-primary: #{$background-primary};
    --primary-accent: #{$primary-accent};
    --header-primary: #{$header-primary};
    --body-primary: #{$body-primary};


    // Rule for scaling font-sizes base. other is in scale.scss
    --font-scale: #{$font-multiplier};
    --font-size-body: calc(#{$font-size-body} * var(--font-scale));
    --font-size-subtitle: calc(#{$font-size-subtitle} * var(--font-scale));
    --font-size-sub-alt: calc(#{$font-size-sub-alt} * var(--font-scale));
    --experience-item-title: calc(#{$experience-item-title} * var(--font-scale));
    --github-project-link: calc(#{$github-project-link} * var(--font-scale));
}

.dark-theme {
    --background-primary: #{$background-primary-dark};
    --primary-accent: #{$primary-accent-dark};
    --header-primary: #{$header-primary-dark};
    --body-primary: #{$body-primary-dark};
}

