@use './base' as *;

// Heading fonts types and colours

h1 {
    font-family: $header-default;
}

h2, h3, h5 {
    font-family: $section-title;
}

h2, h5, i {
    color: var(--body-primary);
}

h3 {
    color: var(--primary-accent);
    font-variant: small-caps;
}

h4 {
    font-family: $section-subtitle;
}

h5 {
    font-size: $font-size-sub-alt;
}

// Body default typography styles

a, p, ul li, ul li + li {
    font-family: $body-text;
    color: var(--body-primary);
    font-size: 8.5px;
}

