@use './base' as *;

// Heading fonts types and colours

h1 {
    font-family: $header-default;
}

h2, h3, h5 {
    font-family: $section-title;
}

h2, h5 {
    color: $body-primary;
}

h3 {
    color: $primary-accent;
    font-variant: small-caps;
}

h4 {
    font-family: $section-subtitle;
}

// Body default typography styles

a, p, ul li, ul li + li {
    font-family: $body-text;
    color: $body-primary;
    font-size: 8.5px;
}
