* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  line-height: 1em;
}

body, html {
  background-color: #2e2b2b;
}

hr {
  border: none;
  height: 0.1px !important;
  background-color: var(--borders);
}

h1 {
  font-family: "Montserrat";
}

h2, h3, h5 {
  font-family: "Montserrat-lighter";
}

h2 {
  color: var(--body-primary);
}

h5, i {
  color: var(--header-primary);
}

h3 {
  color: var(--primary-accent);
  font-variant: small-caps;
  font-size: var(--section-title);
  letter-spacing: 0.1em !important;
}

h4 {
  font-family: "Montserrat";
}

h5 {
  font-size: var(--font-size-sub-alt);
}

a, p, ul li, ul li + li {
  font-family: "Open-sans-light";
  color: var(--body-primary);
  font-size: var(--font-size-body);
}

i {
  font-size: var(--icon-deault-size);
  color: var(--header-primary);
}

/* montserrat-100 - latin */
@font-face {
  font-family: "Montserrat-lightest";
  font-style: normal;
  font-weight: 100;
  src: url("../fonts/montserrat-v18-latin-100.woff2") format("woff2"), url("../fonts/montserrat-v18-latin-100.woff") format("woff"), url("../fonts/montserrat-v18-latin-100.ttf") format("truetype");
}
/* montserrat-100 italic - latin */
@font-face {
  font-family: "Montserrat-lightest";
  font-style: italic;
  font-weight: 100;
  src: url("../fonts/montserrat-v18-latin-100italic.woff2") format("woff2"), url("../fonts/montserrat-v18-latin-100italic.woff") format("woff"), url("../fonts/montserrat-v18-latin-100italic.ttf") format("truetype");
}
/* montserrat-200 - latin */
@font-face {
  font-family: "Montserrat-lighter";
  font-style: normal;
  font-weight: 200;
  src: url("../fonts/montserrat-v18-latin-200.woff2") format("woff2"), url("../fonts/montserrat-v18-latin-200.woff") format("woff"), url("../fonts/montserrat-v18-latin-200.ttf") format("truetype");
}
/* montserrat-200 italic - latin */
@font-face {
  font-family: "Montserrat-lighter";
  font-style: italic;
  font-weight: 200;
  src: url("../fonts/montserrat-v18-latin-200italic.woff2") format("woff2"), url("../fonts/montserrat-v18-latin-200italic.woff") format("woff"), url("../fonts/montserrat-v18-latin-200italic.ttf") format("truetype");
}
/* montserrat-300 - latin */
@font-face {
  font-family: "Montserrat-light";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/montserrat-v18-latin-300.woff2") format("woff2"), url("../fonts/montserrat-v18-latin-300.woff") format("woff"), url("../fonts/montserrat-v18-latin-300.ttf") format("truetype");
}
/* montserrat-300 italic - latin */
@font-face {
  font-family: "Montserrat-light";
  font-style: italic;
  font-weight: 300;
  src: url("../fonts/montserrat-v18-latin-300italic.woff2") format("woff2"), url("../fonts/montserrat-v18-latin-300italic.woff") format("woff"), url("../fonts/montserrat-v18-latin-300italic.ttf") format("truetype");
}
/* montserrat-regular - latin */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/montserrat-v18-latin-regular.woff2") format("woff2"), url("../fonts/montserrat-v18-latin-regular.woff") format("woff"), url("../fonts/montserrat-v18-latin-regular.ttf") format("truetype");
}
/* montserrat-regular italic - latin */
@font-face {
  font-family: "Montserrat";
  font-style: italic;
  font-weight: normal;
  src: url("../fonts/montserrat-v18-latin-italic.woff2") format("woff2"), url("../fonts/montserrat-v18-latin-italic.woff") format("woff"), url("../fonts/montserrat-v18-latin-italic.ttf") format("truetype");
}
/* Open sans normal */
@font-face {
  font-family: "Open-sans-light";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/open-sans-v27-latin-300.woff2") format("woff2"), url("../fonts/open-sans-v27-latin-300.woff") format("woff"), url("../fonts/open-sans-v27-latin-300.ttf") format("truetype");
}
/* Open sans italic */
@font-face {
  font-family: "Open-sans-light";
  font-style: italic;
  font-weight: normal;
  src: url("../fonts/open-sans-v27-latin-300italic.woff2") format("woff2"), url("../fonts/open-sans-v27-latin-300italic.woff") format("woff"), url("../fonts/open-sans-v27-latin-300italic.ttf") format("truetype");
}
/* Open sans normal */
@font-face {
  font-family: "Open-sans";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/open-sans-v27-latin-regular.woff2") format("woff2"), url("../fonts/open-sans-v27-latin-regular.woff") format("woff"), url("../fonts/open-sans-v27-latin-regular.ttf") format("truetype");
}
/* Open sans italic */
@font-face {
  font-family: "Open-sans";
  font-style: italic;
  font-weight: normal;
  src: url("../fonts/open-sans-v27-latin-italic.woff2") format("woff2"), url("../fonts/open-sans-v27-latin-italic.woff") format("woff"), url("../fonts/open-sans-v27-latin-italic.ttf") format("truetype");
}
:root {
  --background-primary: #f7f5f5;
  --primary-accent: #87abd4;
  --primary-accent-alt: #5683b7;
  --header-primary: #070707;
  --body-primary: #1b1b1b;
  --borders: #a3a3a3;
  --borders-muted: lightgray;
  --font-scale: 1;
  --font-size-body: calc(8.5px * var(--font-scale));
  --section-title: calc(1.2rem * var(--font-scale));
  --font-size-subtitle: calc(0.7em * var(--font-scale));
  --font-size-sub-alt: calc(0.6em * var(--font-scale));
  --experience-item-title: calc(0.5em * var(--font-scale));
  --github-project-link: calc(0.4em * var(--font-scale));
  --cv-name-size: calc(1.85rem * var(--font-scale));
  --cv-title-size: calc(1.15rem * var(--font-scale));
  --interest-icon-size: calc(1.4em * var(--font-scale));
  --icon-deault-size: calc(16px * var(--font-scale));
  --work-details-size: calc(0.525rem * var(--font-scale));
}

.dark-theme {
  --background-primary: #353535;
  --primary-accent: #b67e1d;
  --primary-accent-alt: #c99438;
  --header-primary: #f7f5f5;
  --body-primary: #dfdede;
  --borders: #8b8b8b;
  --borders-muted: #505050;
}

.pdf-wrapper {
  margin: 0 auto;
  max-width: min(600px, 90%);
}

#id {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(auto, 1fr);
  grid-auto-flow: dense;
  background-color: var(--background-primary);
  margin: 0 auto;
  height: auto;
}

.left {
  grid-template-columns: subgrid;
}

.right {
  grid-template-columns: subgrid;
}

.header {
  grid-column: 1/-1;
  height: fit-content;
}

.section-title, .section-subtitle {
  font-variant: small-caps;
  letter-spacing: 0.2em;
}

.section-subtitle {
  padding: 0.5em 0;
  font-size: var(--font-size-subtitle);
  line-height: 1.5em;
  color: var(--header-primary);
}

.scale-cv {
  --font-scale: 1.3;
  --font-size-body: calc(8.5px * var(--font-scale));
  --section-title: calc(1.2rem * var(--font-scale));
  --font-size-subtitle: calc(0.7em * var(--font-scale));
  --font-size-sub-alt: calc(0.6em * var(--font-scale));
  --experience-item-title: calc(0.5em * var(--font-scale));
  --github-project-link: calc(0.4em * var(--font-scale));
  --cv-name-size: calc(1.85rem * var(--font-scale));
  --cv-title-size: calc(1.15rem * var(--font-scale));
  --interest-icon-size: calc(1.4em * var(--font-scale));
  --icon-deault-size: calc(16px * var(--font-scale));
  --work-details-size: calc(0.525rem * var(--font-scale));
}
.scale-cv .pdf-wrapper {
  position: relative;
  margin: 0 calc(50% - (210mm/2));
  width: 210mm;
  height: 297mm;
}
.scale-cv .pdf-wrapper #id {
  width: 210mm;
  height: 297mm;
}
.scale-cv .left-border-wrapper {
  width: 250px;
}
.scale-cv .header-icon-wrapper {
  display: none;
}
.scale-cv .link-to-live-project {
  display: block;
  color: white;
}
.scale-cv .profile-section {
  margin-left: -1.378rem;
  margin-top: -0.2368em;
  border-bottom: 0.75px solid var(--borders);
  height: 9.382em;
}
.scale-cv .technical-qualifications-section {
  margin-top: -15em;
}
.scale-cv .technical-qualifications-section .code-clan-project-item-wrapper {
  padding-bottom: 0.8em;
}
.scale-cv .education-section .no-small-caps:first-child {
  font-size: 0.735em;
}
.scale-cv .work-experience-section {
  margin-top: 0.7em;
}
.scale-cv .work-experience-item {
  padding-bottom: 0.6em;
}

@keyframes slidein {
  0% {
    height: 0;
  }
  100% {
    height: fit-content;
  }
}
.header {
  position: relative;
  height: 100%;
  justify-content: start;
  margin: 0 1.5em 0.71em 1.5em;
  padding-bottom: 2.45rem;
}

.header-no-border {
  border: none !important;
  padding-bottom: 2.5rem;
}

.title-wrapper {
  margin-top: 1.5rem;
}
.title-wrapper .cv-name {
  letter-spacing: 0.22em;
  font-size: var(--cv-name-size);
}
.title-wrapper .cv-title {
  font-variant: small-caps;
  letter-spacing: 0.1em;
  font-size: var(--cv-title-size);
  padding-top: 0.35rem;
}

.cv-name-1st {
  color: var(--header-primary);
}

.cv-name-2nd {
  font-family: "Montserrat-lighter";
  color: var(--primary-accent);
}

.contact-wrapper {
  opacity: 1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  position: absolute;
  text-align: left;
  margin: 1.1rem 0 0 0;
}
.contact-wrapper ul {
  list-style: none;
}
.contact-wrapper ul .contact-item p, .contact-wrapper ul .contact-item a {
  opacity: 1;
  transition: opacity 100ms ease-in;
  line-height: 1.55em;
  text-decoration: none;
}

.contact-hidden {
  opacity: 0;
}

.show-contact-details {
  cursor: pointer;
  position: absolute;
  transform: rotate(0deg);
  transition: transform 150ms ease-in-out;
}

.show-contact-details-active {
  color: var(--primary-accent);
  transform: rotate(180deg);
  transition: transform 150ms ease-in-out;
}

.header-icon-wrapper {
  position: absolute;
  height: fit-content;
  top: 80%;
}

.header-icon-wrapper-extra {
  top: 90% !important;
}
.header-icon-wrapper-extra i {
  color: var(--primary-accent) !important;
}

.header-icon {
  color: var(--body-primary);
}

.contact-icon {
  color: var(--primary-accent);
  transform: translateY(3px);
}

#resume-button {
  display: none;
}

#resume-button-small {
  display: inline-block;
}

.link-to-live-project {
  text-decoration: none;
  display: none;
  position: absolute;
  top: 77.5%;
  letter-spacing: 0.1em;
  color: black !important;
  transition: color 0.75s ease-in-out;
}
.link-to-live-project h5 {
  font-variant: small-caps;
  font-size: calc(var(--font-size-subtitle) * 1.1);
}
.link-to-live-project h5:hover {
  color: var(--primary-accent);
}
.link-to-live-project .pop-up-link-underline {
  position: absolute;
  top: 135%;
  left: 0%;
  width: 0%;
  color: red;
  height: 1px;
  background-color: var(--primary-accent);
  transition: width 0.75s ease-in-out;
}

.link-to-live-project:hover .pop-up-link-underline {
  width: 100%;
}

@media screen and (min-width: 500px) {
  .header {
    display: flex;
    border-bottom: 0.75px solid var(--borders);
  }

  .contact-wrapper {
    display: block;
    position: absolute;
    margin-left: 70%;
    margin-top: 1.75em;
    text-align: right;
  }

  .show-contact-details {
    display: none;
  }

  .contact-hidden {
    opacity: 1 !important;
  }

  .header-icon-wrapper-extra {
    top: 80% !important;
  }
  .header-icon-wrapper-extra i {
    color: var(--body-primary) !important;
  }
}
@media screen and (min-width: 650px) {
  #resume-button {
    display: inline-block;
  }

  #resume-button-small {
    display: none;
  }
}
@media screen and (max-width: 555px) {
  .contact-wrapper {
    margin-left: 65%;
  }
}
@media screen and (max-width: 500px) {
  .header-max-height {
    height: 10.457rem;
    transition: height 100ms ease-in;
  }

  .contact-wrapper {
    margin-left: 0%;
  }

  .header-icon-wrapper {
    right: 0%;
  }
}
@media screen and (max-width: 350px) {
  .header-max-height {
    height: 12.457rem;
  }

  .header-icon-wrapper {
    top: 10% !important;
  }
}
.skills-section {
  position: relative;
  grid-column: 1/-1;
  margin-left: 1.378rem;
  margin-top: 0.65rem;
}
.skills-section .technical-skills-list, .skills-section .additional-skills-list {
  column-count: 3;
  padding-bottom: 0.75em;
  border-bottom: 0.75px solid var(--borders);
}
.skills-section .skills-list-item {
  list-style: none;
  line-height: 2em;
}

@media screen and (min-width: 500px) {
  .skills-section {
    grid-column: 1/5;
  }
  .skills-section .technical-skills-list, .skills-section .additional-skills-list {
    column-count: 2;
  }

  .left-border-wrapper {
    position: absolute;
    width: 190px;
    height: 100%;
    border-right: 0.75px solid var(--borders);
  }

  .left-border-end {
    height: 95%;
  }
}
@media screen and (max-width: 400px) {
  .additional-skills-list {
    column-count: 2 !important;
  }
}
@media screen and (max-width: 650px) {
  .left-border-wrapper {
    border: none;
  }
}
.education-interests-section {
  position: relative;
  grid-column: 1/-1;
  margin-left: 1.378rem;
  padding-bottom: 0.85em;
  max-width: 90%;
}
.education-interests-section .education-section {
  padding-bottom: 1rem;
  border-bottom: 0.75px solid var(--borders);
}
.education-interests-section .section-title {
  margin: 0.65rem 0 0.25rem 0;
}

.education-section-item .section-subtitle {
  font-size: var(--font-size-subtitle);
}
.education-section-item .section-subtitle .no-small-caps {
  font-size: 0.525rem;
}

.education-institution, .education-results {
  padding-bottom: 0.6em;
}

.education-dates {
  font-style: italic;
}

@media screen and (min-width: 500px) {
  .education-interests-section {
    grid-column: 1/5;
  }
}
@media screen and (max-width: 500px) {
  .education-interests-section {
    grid-row: 5;
  }
}
.profile-section {
  grid-column: 1/-1;
  grid-row: 2;
  padding-bottom: 0.85em;
  margin-left: 1.378rem;
  margin-right: 1.378rem;
  border: none;
  padding: 0;
}
.profile-section .section-title {
  margin: 0 0 0.25rem 0;
  padding-top: 0.6em;
}
.profile-section .profile-description {
  line-height: 1.5em;
}
.profile-section hr {
  margin-top: 0.5em;
}

hr {
  margin-top: 200px;
}

@media screen and (min-width: 500px) {
  .profile-section {
    grid-column: 6/-1;
    margin-left: 0;
    padding-bottom: -18em;
  }
}
.technical-qualifications-section {
  margin-left: 1.378rem;
  margin-right: 1.378rem;
  grid-column: 1/-1;
}
.technical-qualifications-section .code-clan-projects-section {
  border-bottom: 0.75px solid var(--borders);
}
.technical-qualifications-section .section-title {
  margin-top: 0.6rem;
}
.technical-qualifications-section .code-clan-description {
  line-height: 1.5em;
}
.technical-qualifications-section .code-clan-project-title {
  text-transform: capitalize;
  padding-bottom: 0.6em;
  letter-spacing: 0.1em;
  font-size: var(--experience-item-title);
  padding-bottom: 0.8rem;
}

.code-clan-project-item-wrapper .code-clan-project-tech-stack {
  padding-bottom: 0.6em;
}
.code-clan-project-item-wrapper .code-clan-project-description-list {
  margin-left: 1.378rem;
  margin-right: calc($mr / 2);
}
.code-clan-project-item-wrapper .code-clan-project-description-list .code-clan-project-description-item {
  line-height: 1.5em;
}

.code-clan-project-item {
  position: relative;
  padding-bottom: 1.2rem;
}
.code-clan-project-item .code-clan-project-github-link {
  color: var(--primary-accent);
  text-decoration: none;
  font-size: var(--github-project-link);
  font-style: italic;
}
.code-clan-project-item .code-clan-project-github-link:hover {
  color: var(--primary-accent-alt);
}
.code-clan-project-item .fa-github {
  color: var(--primary-accent);
}

#code-clan-project-padding-overide {
  padding-bottom: 0.6em;
}

.work-experience-title {
  padding-top: 0.6rem;
  font-variant: small-caps;
}

.work-experience-details {
  text-transform: uppercase;
  margin: 0.415rem 0;
  font-size: var(--work-details-size);
  letter-spacing: 0.1em;
  color: var(--body-primary);
}

.work-experience-item .work-experience-description-list {
  margin-left: 1.378rem;
}
.work-experience-item .work-experience-description-list .work-experience-description-item {
  line-height: 1.5em;
}

@media screen and (min-width: 500px) {
  .technical-qualifications-section {
    margin-left: 2.756rem;
    grid-column: 5/-1;
    margin-top: -11.75em;
  }
  .technical-qualifications-section .section-title {
    margin-top: -1.25rem;
  }
}
@media screen and (min-width: 600px) {
  .code-clan-project-github-link {
    position: absolute;
    top: 0;
    right: 0;
  }
}
.interests-section .section-title {
  padding-bottom: 0.3rem;
}
.interests-section .interests-list {
  list-style: none;
}
.interests-section .interests-list .interests-item {
  line-height: 2.25em;
}

.interests-item i {
  color: var(--primary-accent);
  font-size: var(--interest-icon-size);
  transform: translateY(2.5px);
}

#cooking i:first-child {
  transform: rotate(-45deg);
}

#cooking i:nth-child(2) {
  transform: translateX(-7px) translateY(1px) rotate(-45deg);
}

.pop-up-index-invisible {
  opacity: 0;
  transition: opacity 0.4s ease-in-out;
}

.pop-up-index-section {
  grid-column: 1/-1;
  opacity: 1;
  position: relative;
  width: 100%;
  height: 100%;
  transition: opacity 0.4s ease-in-out;
}
.pop-up-index-section i:not(#pop-up-index-button) {
  color: var(--primary-accent);
}
.pop-up-index-section i#pop-up-index-button {
  position: absolute;
  margin-top: -5vh;
  margin-left: 90%;
  transform: rotate(0deg);
  transition: transform 0.2s ease-in-out;
}

.pop-up-index-wrapper {
  position: sticky;
  width: 100%;
  height: 15vh;
  background-color: var(--background-primary);
  margin-top: -15vh;
}
.pop-up-index-wrapper .pop-up-index-nav {
  position: relative;
  width: 100%;
  height: 100%;
}
.pop-up-index-wrapper .pop-up-index-nav .pop-up-index-list {
  position: relative;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  border-top: 0.1px solid var(--borders-muted);
  border-radius: 10px;
}
.pop-up-index-wrapper .pop-up-index-nav .pop-up-index-list .pop-up-index-item {
  list-style: none;
  grid-column: auto/span 4;
  text-align: center;
  align-self: center;
}
.pop-up-index-wrapper .pop-up-index-nav .pop-up-index-list .pop-up-index-item a {
  position: relative;
  text-decoration: none;
  font-family: "Montserrat-light";
  font-size: var(--font-size-subtitle);
  text-transform: capitalize;
}
.pop-up-index-wrapper .pop-up-index-nav .pop-up-index-list .pop-up-index-item a .pop-up-link-underline {
  position: absolute;
  top: 120%;
  left: 0%;
  width: 0%;
  height: 1px;
  background-color: var(--primary-accent);
  transition: width 400ms ease-in;
}
.pop-up-index-wrapper .pop-up-index-nav .pop-up-index-list .pop-up-index-item a:hover .pop-up-link-underline {
  width: 75%;
}

#pop-up-index-button {
  position: absolute;
  height: 100%;
  z-index: 100;
  color: var(--body-primary);
}

.pop-up-index-button-active {
  color: var(--primary-accent) !important;
  transform: rotate(180deg) translateY(-10px) !important;
  transition: transform 0.2s ease-in-out;
}

@media screen and (min-width: 500px) {
  .pop-up-index-section {
    display: none;
  }
}

/*# sourceMappingURL=style.css.map */
