// Header section
@use '../base/' as *;
@use '../abstracts/' as *;


// This is the name for the cv page 
.pdf-wrapper {
    margin: 0 auto;
    max-width: min(600px, 90%);
}

#id {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    background-color: $background-primary;
    // max-width: 60%;
    // min-height: 100vh;
    margin: 0 auto;
}

// Overall Structure of cv grid

.header {
    grid-column: 1 / -1;
    height: fit-content;
}

// Education section
.education-dates {
    font-style: italic;
}

// Right column

// Profile section

.profile-section {
    @include border-bottom-subsection;
}

// Technical qualifications section

.technical-qualifications-section {
    @include border-bottom-subsection;
}

.code-clan-project-tech-stack {
    font-style: italic;
}