// Header section
@use '../base/' as *;
@use '../abstracts/' as *;


// This is the name for the cv page 
.pdf-wrapper {
    margin: 0 auto;
    max-width: min(600px, 90%);
}

#id {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(auto, 1fr);
    grid-auto-flow: dense;
    // grid-auto-rows: 100px;
    background-color: var(--background-primary);
    // max-width: 60%;
    // min-height: 100vh;
    margin: 0 auto;
    height: auto;
}


.left {
    grid-template-columns:  subgrid;
}

.right {
    grid-template-columns:  subgrid;
}

// Overall Structure of cv grid

.header {
    grid-column: 1 / -1;
    height: fit-content;
}

// Section titles

.section-title, .section-subtitle {
    font-variant: small-caps;
    letter-spacing: $section-title-spacing;
}

.section-subtitle {
    padding: .5em 0;
    font-size: var(--font-size-subtitle);
    line-height: $section-title-lh;
    color: var(--body-primary);
}


// Right column

// Profile section

.profile-section {
    @include border-bottom-subsection;
}

// Technical qualifications section

.technical-qualifications-section {
    @include border-bottom-subsection;
}

.code-clan-project-tech-stack {
    font-style: italic;
}

// Media queries
// For larger screens

@media screen and (min-width: 500px) {
    #id {
    
    }
}