@use '../base/' as *;

// Header
// Header show animation

@keyframes slidein {
    0% {
        height: 0;
    } 100% {
        height: fit-content;
    }
} 

// Default is for standard phones

.header {
    position: relative;
    justify-content: start;
    margin: 0 1.5em;
    padding-bottom: 1.25rem;
    border-bottom: 1px solid $body-primary;
}

// Name details
.title-wrapper {
    margin-top: 1.5rem;

    & .cv-name {
        letter-spacing: .22em;
        font-size: 1.85rem;
    }

    & .cv-title {
        font-variant: small-caps;
        letter-spacing: .1em;
        font-size: 1.15rem;
        padding-top: .35rem;
    }
}

.cv-name-2nd {
    font-family: $header-name-2nd;
    color: $primary-accent; 
}

//Contact section 

.contact-wrapper {
    // transition: all 10s ease-in;
    
    opacity: 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    position: absolute;
    text-align: left;
    margin: 1.1rem 0 0 0;
    

    & ul {
        list-style: none;
    
        & .contact-item p, .contact-item a {
            // color: red;
            opacity: 1;
            transition: opacity 100ms ease-in;
            line-height: 1.55em;
            text-decoration: none;
        }
    }
}

.contact-hidden {
    opacity: 0;
}

// Stylings for the show contact details icon

.show-contact-details {
    cursor: pointer;
    position: absolute;
    transform: rotate(0deg);
    transition: transform 150ms ease-in-out;
}

.show-contact-details-active {
    color: $primary-accent;
    transform: rotate(180deg);
    transition: transform 150ms ease-in-out;
}

// Contact icons 

.contact-icon {
    color: $primary-accent;
}

// Media Queries


// FOr larfer screens
@media screen and (min-width: 500px) {
    
    .header {
        display: flex;
    }
    
    .contact-wrapper {
        display: block;
        position: absolute;
        margin-left: 70%;
        margin-top: 1.75em;
        text-align: right;
     
    }
    .show-contact-details {
        display: none;
    }

    .contact-hidden {
        opacity: 1 !important;
    }
}

@media screen and (max-width: 500px) {
    .header-max-height {
        height: 10.457rem;
        transition: height 100ms ease-in;
    }

    .contact-wrapper {
        // transition: opacity 450ms ease-in;
    }
}

@media screen and (max-width: 350px) {
    .header-max-height {
        height: 12.457rem;
    }
}