@use '../base/' as *;
@use '../abstracts/' as *;

.scale-cv {

    // Root stylings for scale cv
    --font-scale: #{$font-multiplier-scale};
    --font-size-body: calc(#{$font-size-body} * var(--font-scale));
    --section-title: calc(#{$font-size-section-title} * var(--font-scale));
    --font-size-subtitle: calc(#{$font-size-subtitle} * var(--font-scale));
    --font-size-sub-alt: calc(#{$font-size-sub-alt} * var(--font-scale));
    --experience-item-title: calc(#{$experience-item-title} * var(--font-scale));
    --github-project-link: calc(#{$github-project-link} * var(--font-scale));
    --cv-name-size: calc(#{$cv-name-size} * var(--font-scale));
    --cv-title-size: calc(#{$cv-title-size} * var(--font-scale));
    --interest-icon-size: calc(#{$interest-icon-size} * var(--font-scale));
    --icon-deault-size: calc(#{$icon-deault-size} * var(--font-scale));
    --work-details-size: calc(#{$work-details-size} * var(--font-scale));

    // Capping size of the major feature of page to pdf size
    & .pdf-wrapper {
        position: relative;
        margin: 0 calc(50% - (210mm/2));
        width:  210mm;
        height: 297mm;

        & #id {
            width:  210mm;
            height: 297mm;
        }
    }

    & .left-border-wrapper {
        width: 250px;
    }
    // Header section

    & .header-icon-wrapper {
        display: none;
    }

    & .link-to-live-project {
        display: block;
    }

    // Profile section
    & .profile-section {
        margin-left: -$ml;
        margin-top: -.2368em;
        @include border-bottom-subsection;
        height: 9.382em;
    }
    // Technical section

    & .technical-qualifications-section {
        margin-top: -15em;

        & .code-clan-project-item-wrapper {
            // background-color: rgb(243, 242, 242);
            padding-bottom: .8em;
            
        }
    }

    & .education-section {

    
        & .no-small-caps:first-child {
            font-size: .735em;
        }
    }

    & .work-experience-section {
        margin-top: 0.7em;
    }

    // Work expereince section
    .work-experience-item {
        padding-bottom: .6em;
    }
}



