@use '../base/' as *;

.scale-cv {
    --font-scale: #{$font-multiplier-scale};
    --font-size-body: calc(#{$font-size-body} * var(--font-scale));
    --font-size-subtitle: calc(#{$font-size-subtitle} * var(--font-scale));
    --font-size-sub-alt: calc(#{$font-size-sub-alt} * var(--font-scale));
    --experience-item-title: calc(#{$experience-item-title} * var(--font-scale));
    --github-project-link: calc(#{$github-project-link} * var(--font-scale));
}

.scale-cv #id {
    width:  210mm;
    height: 297mm;
}